.container_cart {
  display: flex;
  flex-direction: row;
}

.wrapper_right {
  background-color: grey;
  margin: 2rem;
  padding: 0.5rem;
}

.btn_checkout {
  background-color: yellow;
  padding: 1rem;
  width: 100%;
}
